/*
 * custom css
 */

a:hover, a:active{
	text-decoration: none;
}

#vm {
	display: block;
	width: 500px;
	height: 500px;
	background-color: #999;
}

#loading {
	margin-bottom: 15px
}

#error {
	display: block;
	margin-bottom: 15px;
}